.caixa_width{
    /* border = espessura, tipo e a cor => width, style, color */
    border-width: 2px;
    border-style: solid;
    border-color: red;

    /* shorthand => vários valores na mesma propriedade */
    border: 2px solid red;
    
    /* Propriedade que cuida da largura = width */
    width: 100px;
}

.imagem_width{
    width: 400px;
}

.caixa_height{
    border: 1px dashed blue;
    /* Propriedade que cuida da altura = height */
    height: 100px;
    width: 100px;
}